@import '../../../common/estilos_comunes.scss';

.none {
    display: none;
}

.content-contacto{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: visible;
    
    .info-contacto{
        position: absolute;

        .info-contacto-cuadro{
            z-index: 4;

            .info-contacto-cuadro-informacion{
                color: #DBDBDB;
                width: 100%;
                z-index: 15;
                background-color: $color-primario;

                a {
                    text-decoration: underline;
                    color: white;
                }
            }
        }

        .info-contacto-formulario{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            z-index: 0;

            .info-contacto-formulario-contenido{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;

                h1{
                    font-weight: normal;
                    text-transform: uppercase;
                }

                .formEnviar{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    align-items: center;
                    overflow: hidden;

                    p {
                        margin-bottom: -2%;
                    }

                    input{
                        width: 100%;
                        background-color: #F1F1F1;
                        border-bottom: 2px solid #919191;
                        border-top: none;
                        border-left: none;
                        padding-left: 15px;
                        padding-top: 5px;
                        padding-bottom: 3px;
                        color: #919191;
                    }

                    .mensaje{
                        min-height: 54px;
                        border-top: none;
                        background-color: #F1F1F1;
                        padding-left: 15px;
                        padding-bottom: 3px;
                        color: #919191;
                        border-bottom: 2px solid #919191;
                        font-family: "Century Gothic", sans-serif;
                    }

                    .enviar{
                        background: none;
                        border: 2px solid #919191;
                        text-transform: uppercase;
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media screen and ($ordenador) {

    /* --- Elementos innecesarios ---*/
    .cuadro-giro-3{
        display: none;
    }

    .fake{
        display: none;
    }

    .redes{
        display: none;
    }

    /* ------------------------------ */


    .cuadro-giro-superior{
        width: 44%;
        height: 300px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color-primario;
        transform: rotateZ(6deg);
        margin-bottom: 2%;
    }

    .cuadro-giro-2{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 200px;
        //width: 12%;
        //height: 26%;
        transform: rotateZ(19deg);
        transform-origin: top right;
        background-color: white;
    }


    .content-contacto{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        position: relative;

        .info-contacto{
            width: 96%;
            height: 62%;
            bottom: 0;
            top: 23%;
            padding-left: 0.6%;

            .info-contacto-cuadro{
                width: 96%;
                height: 100%;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                

                .info-contacto-cuadro-informacion{
                    height: 84%;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.70);

                    .info-contacto-cuadro-informacion-datos{
                        display: flex;
                        margin-top: 6.4vh;
                        justify-content: center;
                        margin-left: 2.9vh;

                        /* ----------- Control de que el usuario sea admin para edición ---- */

                        .admin {
                            background-color: #5C5C5C;
                            text-transform: uppercase;
                            border: none;
                            color: #DBDBDB;
                            font-family: "Century Gothic", sans-serif;
                        }

                        .input-data {
                            width: 375px;
                            font-size: 22px;
                            margin-left: 29px;
                            font-weight: normal; 
                            padding-left: 5px;
                        }

                        .input-url {
                            width: 700px;
                            font-size: 22px;
                            margin-left: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                            font-weight: normal; 
                            text-transform: lowercase;
                            text-overflow: ellipsis;
                        }

                        .input-title {
                            text-align: left;
                            width: 100%;
                            font-size: 46px;
                            font-weight: bold;
                        }

                        .input-subtitle {
                            width: 100%;
                            text-align: left;
                            font-size: 17px;
                            margin-bottom: 8%;
                            font-weight: bold;
                        }

                        /* ------------------------------------------------------------------ */

                        h1{
                            font-size: 46px;
                            margin:0;
                            text-align: left;
                            text-transform: uppercase;
                        }

                        h3{
                            text-align: left;
                            margin-top: 0;
                            margin-bottom: 8%;
                            font-size: 17px;
                            text-transform: uppercase;
                        }

                        .icono{
                            width: 24px;
                            height: 24px;
                            padding-left: 2vh;
                            text-transform: uppercase;
                        }

                        .titulo{
                            font-weight: bold;
                            font-size: 24px;
                            padding-left: 6.4px;
                            text-transform: uppercase;
                        }

                        .nuevo_link {
                            width: 24px;
                            height: 24px;
                        }

                        .datos{
                            font-size: 22px;
                            padding-left: 21px;
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                    }

                    .img_dueno{
                        width: 18%;
                        height: 72%;
                        margin-top: 6.4vh;
                        background: url(./Captura.PNG);
                        background-size: contain;
                        margin-left: $margen-peque-mv;
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                }
            }

            .info-contacto-formulario{
                position: absolute;
                bottom: 0px;
                right: 0;
                height: 90%;
                width: 43%;
                z-index: 16;
                animation-duration: 5s;
                animation-timing-function: ease-in;
                //animation-name: agitar;
                
                //animation-iteration-count: infinite;
                

                .agitarAnim {
                    animation-name: agitar;
                    
                }
                

                .cuadro-giro-2-3{
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 200px;
                    height: 200px;
                    transform: rotateZ(19deg);
                    transform-origin: top right;
                    background-color: white;
                    z-index: 0;
                }

                .info-contacto-formulario-contenido {
                    height: 72%;
                    width: 75%;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding-top: 9%;

                    h1{
                        margin: 0;
                        font-size: 30px;
                    }

                    

                    .formEnviar{
                        width: 100%;
                        height: 100%;
                        align-items: flex-start;

                        .nombre{
                            margin-top: 6%;
                            width: 100%;
                            height: 10%;
                            font-size: 20px;
                        }

                        .email{
                            margin-top: 7%;
                            height: 10%;
                            font-size: 20px;
                        }

                        .mensaje{
                            margin-top: 7%;
                            width: 100%;
                            font-size: 20px;
                            border-left: 0;
                        }

                        .enviar{
                            width: 38%;
                            height: 17%;
                            font-size: 20px;
                            margin-top: 6%;
                        }
                    }
                }
            }
        }

    }
}

@media screen and ($movil), screen and ($mTablet){
    .info-contacto{
        width: 100%;
        top: $distancia_principio_mv;
        position: absolute;

        .fondo{
            background-color: $color-primario;
            width: 100%;
            height: 100%;
        }

        .cuadro-giro-superior{
            width: $tamano_primer_cuadro_giro;
            height: 75px;
            position: absolute;
            right: 0;
            transform: rotate(6deg);
        }

        .info-contacto-cuadro{
            z-index: 4;
            width: 100%;
            top: 24.8px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $color-primario;


            .info-contacto-cuadro-informacion{
                padding-top: 32.4px;
                background-color: $color-primario;
                color: #DBDBDB;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                z-index: 15;
                box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.70);

                img{
                    border: 0;
                }

                .img_dueno{ //CAMBIAR------------------------------------------------------------------------------
                    width: 100%;
                    height: 320px; //Cambiar
                    background: url(./fondo_prov.png);
                    background-color: black;
                    background-size: cover;
                }

                h1{
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 0px;
                    width: 100%;
                    text-align: left;
                    text-transform: uppercase;
                }

                h3{
                    font-weight: bold;
                    font-size: 7px;
                    margin-top: 0px;
                    width: 100%;
                    text-align: left;
                    padding-bottom: 25.8px;
                    text-transform: uppercase;
                }

                .info-contacto-cuadro-informacion-datos{
                    margin-top: 25.8px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding-bottom: 23.6px;

                    .icono{
                        width: 13.38px;
                        height: 13.38px;
                        text-transform: uppercase;
                    }

                    .titulo{
                        font-weight: bold;
                        font-size: 13px;
                        height: 10px;
                        padding-left: 6.4px;
                        text-transform: uppercase;
                    }

                    .datos{
                        font-size: 12px;
                        padding-left: 21px;
                        text-transform: uppercase;
                    }
                }
            }

            .fake{
                padding-bottom: 48px;
                background-color: white;
            }

            .cuadro-giro-2{
                width: 73%;
                height: 57px;
                z-index: 1;
                position: absolute;
                bottom: 27px;
                left: 0;
                transform: rotateZ(6deg);
            }
    
            .cuadro-giro-3{
                position: absolute;
                width: 40%;
                z-index: 0;
                height: 70px;
                bottom: 13px;
                left: 0;
                transform: rotateZ(19deg);
            }
        }

        .cuadro-giro-2{
            width: 73%;
            height: 48px;
            z-index: 3;
            position: absolute;
            transform: rotate(6deg);
        }

        .cuadro-giro-3{
            width: 40%;
            z-index: 2;
            height: 70px;
            transform: rotate(19deg);
        }

        .info-contacto-formulario{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            z-index: 0;

            .info-contacto-formulario-contenido{
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                padding-top: 68px;

                h1{
                    font-weight: normal;
                    font-size: 18px;
                }

                .formEnviar{
                    width: 79%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    align-items: center;
                    overflow: hidden;
                    margin-top: 36px;

                    input{
                        width: 100%;
                        background-color: #F1F1F1;
                        border-bottom: 2px solid #919191;
                        border-top: none;
                        border-left: none;

                        font-size: 15px;
                        padding-left: 15px;
                        padding-top: 5px;
                        padding-bottom: 3px;
                        color: #919191;
                    }

                    .email{
                        margin-top: 35.7px;
                    }

                    .mensaje{
                        margin-top: 40px;
                        width: 100%;
                        min-height: 54px;
                        border-top: none;
                        background-color: #F1F1F1;
                        font-size: 15px;
                        padding-left: 15px;
                        padding-bottom: 3px;
                        color: #919191;
                        border-bottom: 2px solid #919191;
                        font-family: "Century Gothic", sans-serif;
                    }

                    .enviar{
                        margin-top: 25px;
                        width: 166px;
                        height: 50px;
                        background: none;
                        border: 2px solid #919191;
                        padding: 0;
                    }
                }
            }

            .redes{
                width: 56%;
                display: flex;
                justify-content: space-between;
                background-color: white;
                margin-top: 72px;
                margin-bottom: 17px;

                img{
                    height: 25px;
                }
            }
        }
    }
}


