@import '../common/estilos_comunes.scss';

.content_galeria {
    width: 100%;
    height: 100%;

    .galeria_div {
        position: absolute;
        top: 0;
        width: 100%;
        margin-top: $distancia_principio_pc;
        background-color: rgba(255, 255, 255, 0.548);

        img {
            //width: auto;
            object-fit: cover;
        }
    }
}
.react-images__footer__count {
    display: none;
}

@media screen and ($movil), screen and ($mTablet) {
    .galeria_div {
        overflow: scroll;
    }
}

