// MEDIA QUERIES
$ordenador: "min-width: 601px" ;
$movil: "max-width: 600px";

$margen-vertical-mv: 50px;

.content_inicio {
    height: 100%;
    width: 100%;
    z-index: 1;

    .logo { z-index: 2; }

    .menu { z-index: 3; }

    .redes { z-index: 4; }


    // MOVIL
    @media screen and ($movil) {
    
        .menu {
            position: absolute;
            right: 0;
            margin-top: $margen-vertical-mv;
        }
    
        .redes {
            position: absolute;
            bottom: 0;
        }
    }

    // ORDENADOR
    @media screen and ($ordenador) {
        .logo {
            margin-left: $margen-vertical-mv;
        }

        .redes {
            bottom: 0;
        }

        .menu {
            max-width: 2000px;
            display: flex;
            justify-content: space-around;
        }
    }
}