@import '../estilos_comunes.scss';

.logo-logar {
    $size: 400px;
    width: $size;
    background-image: url(../logo/logo_blanco.svg);
    height: 200px;
    background-size: $size;
    background-repeat: no-repeat;


@media screen and ($movil), screen and ($mTablet){
        text-align: center;
        $size: 230px;
        width: $size;
        height: 130px;
        background-size: $size;
    }
}