@import '../common/estilos_comunes.scss';
.react-photo-gallery--gallery {
        
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.548);

    img {
        object-fit: cover;
    }
}
h1 {
    width: 100%;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    font-family: "Century Gothic", sans-serif;
}

h3 {
    font-weight: normal;
    margin: 0;
    font-family: "Century Gothic", sans-serif;
}

.content {
    img {
        object-fit: cover;
    }
}

@media screen and ($ordenador) {

    html {
        overflow: hidden;
    }

    .fake-burger {
        display: none;
    }

    .burger-dialogo {
        display: none;
    }

    .content {
        height: 100%;
        width: 100%;
    }

    .galeria_seleccion {
        left: 0;
        width: 69%;
        height: 74.7%;
        top: 25.3%;
        overflow-y: scroll;
        background-color: red($color: #000000);
        position: relative;
    }

    .dialogo {
        position: absolute;
        background-color: white;
        bottom: 0;
        height: 72%;
        right: 0.2px;
        width: 31%;
        min-height: 700px;
        min-width: 558px;

        .inner {
            width: 80%;
            height: 100%;
        }

        .input {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 72%;
            border: 1px solid #707070;

            h1 {
                padding-top: 43px;
                font-size: 24px;
            }

            h3 {
                font-size: 22px;
                padding-bottom: 20px;
            }

            .formulario {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                align-items: center;

                .mensaje {
                    width: 100%;
                    min-height: 149px;
                    resize: none;
                    padding: 0;
                    padding-left: 10px;
                    font-size: 20px;
                    border: none;
                    border-bottom: 2px solid #919191;
                    background-color: #F1F1F1;
                    color: #919191;
                    font-family: "Century Gothic", sans-serif;
                    margin-bottom: 8%;
                }
    
                .boton-enviar {
                    width: 80%;
                    min-height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-primario;
                    text-transform: uppercase;
                    color: white;
                    font-size: 20px;
                    border: none;
                    font-family: "Century Gothic", sans-serif;
                }
            }
        }

        .botones {
            height: 28%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 70%;
                min-height: 45px;
                text-transform: uppercase;
                font-size: 25px;
                background-color: white;
                margin-bottom: 21px;
                border: 1px solid $color-primario; 
            }
            button:hover {
                cursor: pointer;
            }
        }
    }

    .terminos-movil {
        display: none;
    }

    .logo-dialogo {
        display: none;
    }
}

@media screen and ($movil), screen and ($mTablet) {
    html, body {
        position:relative;
        overflow-x:hidden;
    }

    .burger-dialogo {
        position: absolute;
        right: 0;
        top: 77px;
        height: 47px;
        width: 47px;
        border: 2px solid #707070;
        background-color: $color-primario;
        z-index: 1;
    }

    .fake-burger {
        display: none;
        position: absolute;
        background-color: $color-primario;
        right: 0px;
        top: 14px;
        height: 47px;
        width: 47px;
        border: 2px solid $color-primario;
        z-index: 500;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fake-burger div{
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 2.5px;
        transition: all 0.3s ease;
    }

    .dialogo{
        position: absolute;
        overflow-y: scroll;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        background-color: white;
        align-items: flex-start;
        z-index: 1000;

        .logo-dialogo {
            position: relative;
            top: 0;
            left: 5%;
        }

        .content {
            position: relative;
            width: 86%;
            background-color: white;
            display: flex;
            left: 5%;
            flex-direction: column;
            align-items: center;

            .input {
                position: relative;
                width: 92.26%;
                background-color: white;

                h1 {
                    font-size: 18px;
                }

                h3 {
                    font-size: 15px;
                    padding-bottom: 15px;
                }

                .formulario {
                    position: relative;
                    width: 100%;       
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;            
    
                    .mensaje {
                        width: 100%;
                        resize: none;
                        padding-left: 10px;
                        font-size: 14px;
                        border: none;
                        border-bottom: 2px solid #919191;
                        background-color: #F1F1F1;
                        color: #919191;
                        font-family: "Century Gothic", sans-serif;
                        margin-bottom: 8%;
                    }

                    .boton-enviar {
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-height: 50px;
                        background-color: $color-primario;
                        text-transform: uppercase;
                        color: white;
                        font-size: 15px;
                        border: none;
                        font-family: "Century Gothic", sans-serif;
                    }
                }
            }

            .botones {
                margin-top: 25px;
                width: 100%;
                position: relative;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 100%;
                    min-height: 45px;
                    text-transform: uppercase;
                    font-size: 25px;
                    background-color: white;
                    margin-bottom: 21px;
                    border: 1px solid $color-primario; 
                }
                button:hover {
                    cursor: pointer;
                }
            }
        }
    }

    
}

@media screen and ($mTablet) {
    .galeria_seleccion {
        margin-top: 29%;
        overflow: hidden;
    }

    .dialogo{
        overflow-y: hidden;
        z-index: 1;
    }

    .content {

        .mensaje {
            min-height: 149px;
        }
    }
}


@media screen and ($movil) {

    .galeria_seleccion {
        margin-top: 25%;
    }

    .content {

        .formulario {
            overflow: scroll;

            .mensaje {
                min-height: 50px;
                padding-left: 10px;
            }

            .boton-enviar {
                font-size: 14px;
                height: 40px;
                min-height: 20px;
            }
        }
    }
}

.abrir-dialogo {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}

.cerrar-burger {
    display: none;
}

.abrir-fake-burger {
    display: flex;
}

.toggle .line1 {
    transform: rotate(-44deg) translate(-6px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(44deg) translate(-4px, -5.5px);
}



