.content_imagen_fondo {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    position: fixed;
    background-color: rgb(214, 214, 214);
    z-index: -100;
}
