@import '../estilos_comunes.scss';

h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: $margen-vertical-mv;
    margin-left: $margen-vertical-mv;
    font-weight: normal;
    font-size: normal;
    color: white;
}

.content-menu {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 59px;
    padding-top: 39px;
    padding-right: 48px;
    padding-bottom: 38px;

    /* Estilo Menu */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-transform: uppercase;
    min-height: 9vh;

    .rutas { z-index: 3; }

    .cruz { z-index: 4; }

    .redes { z-index: 5; }

    .logo{
        width: 100%;
        z-index: 2;
    }

    .rutas{
        width: 100%;
        padding-top: 4vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: $margen-vertical-mv;
        flex-grow: 2;

        .nav-links{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            li{
                list-style: none;

                a{
                    color: white;
                    text-decoration: none;
                    letter-spacing: 1px;
                    font-weight: bold;
                    text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
                    font-size: 15pt;

                    //-------- Esta Parte pertenece a la animación sobre el Menu // https://codepen.io/jstn/pen/zuDst
                    display: inline-block;
                    padding: 15px 20px;
                    position: relative;
                }

                a:after {    
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                  }
                  a:hover:after { 
                    width: 100%; 
                    left: 0; 
                  }

                  // ----------------- Fin de animación
            }
        }

        .redes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }   
    }

    .burger {
        display: none;
        cursor: pointer;
    }
    
    .burger div{
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }

    // MOVIL
   /* @media screen and ($movil) {

        .logo{
            display: none;
        }

        /*nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 7vh;
            background-color: #FFFFFF;
            font-family: 'Poppins', sans-serif;

            .logo{
                display: none;
            }
        }

        .content-menu{
        
            .nav-links {
                position: absolute;
                right: 0px; 
                height: 93vh;
                top: 7vh;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 65%; 
                transform: translateX(100%);

                .logo{
                    display: none;
                }

                li{
                    opacity: 0;

                    a{
                        text-decoration: none;
                        letter-spacing: 3px;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }

            .burger {
                display: block;
                position: absolute;
                right: 25px;
                height: 50px;
                width: 50px;
            }
        }
    }*/

    // ORDENADOR
   /* @media screen and ($ordenador) {
        .alinear-menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;


            .logo {
                width: 100%;
            }
        
            .rutas {
                width: 100%;
                top: 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-right: $margen-vertical-mv;
                flex-grow: 2;


                h2, h3 {
                    text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
                }
                
                .redes {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }                
            }
        }
        
        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: $margen-vertical-mv;
            margin-left: $margen-vertical-mv;
            font-weight: normal;
            font-size: normal;
        }
    }*/
}



