@import '../estilos_comunes.scss';

@media screen and ($mTablet) {
    .logo-pc{
        position: absolute;
        margin-top: 11px;
        margin-left: 37px;
    }

    .nav-links {
        li {
            a {
                font-size: 20px; 
            }

            h3 {
                margin-top: -20px;
                a {
                    font-size: 20px;
                }
            }
        }
    }

    .terminos-movil {
        text-align: center;

        h3{
            display: flex;
            flex-direction: column;
            
            .linea {
                display: none;
            }
            
            a {
                margin-bottom: 10px;
                padding: 20px;
                font-size: 12px;
            }
        }
    }
}

@media screen and ($movil) {
    .logo-pc{
        position: absolute;
        margin-top: 11px;
        margin-left: 37px;
    }

    .nav-links {
        li {
            a {
                font-size: 15px; 
            }

            h3 {
                margin-bottom: -25px;
                margin-top: 10px;
                a {
                    font-size: 12px;
                    padding: 0;
                }
            }
        }
    }

    
}

// MOVIL
@media screen and ($movil), screen and ($mTablet) {

    html, body {
        position:relative;
        overflow-x:hidden;
        overflow-y: hidden ;
    }

    .redes-ordenador{
        display: none;
    }

    .terminos-ordenador{
        display: none;
    }

    .logo-movil {
        .logo-logar {
            background-image: url(../logo/logo_blanco.svg);
            background-repeat: no-repeat;
        }
    }

    .nav-links {
        z-index: 10;
        position: absolute;
        background-color: $color-primario;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        height: 100%;
        right: 0;
        justify-content: space-around;
        transform: translateX(100%);
        text-transform: uppercase;
        margin-top: 0;

        li {
            opacity: 0;
            list-style: none;

            a{ /* Enlaces dentro de la lista*/
                text-decoration: none;
                letter-spacing: 3px;
                font-weight: bold;
                color: white;
            }

            h3{
                text-decoration: none;
                font-size: 14px;
                color: white;
                font-family: "Century Gothic";
            }
        }
    } 

    .burger {
        display: flex;
        position: absolute;
        right: 0px;
        top: 14px;
        height: 47px;
        width: 47px;
        border-color: white;
        border: 2px solid white;
        z-index: 11;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .burger div{
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 2.5px;
        transition: all 0.3s ease;
    }

    .seleccion {
        background-color: $color-primario;
        border: 2px solid #707070;
    }

    /* --- Animaciones -- */

    .nav-active {
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
    }

    @keyframes navLinkFade{
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-44deg) translate(-6px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(44deg) translate(-4px, -5.5px);
    }
}

@media screen and ($ordenador) {
            
    .content-menu {
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-transform: uppercase;
        min-height: 9vh;
        
        // AÑADIDO
        width: 100%;
        position: absolute; //

        .degradado {
            width: 100%;
            height: 200px;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, rgb(43, 43, 43), transparent);
            z-index: 1;
        }

        h3{
            font-weight: normal;
        }

        .rutas { z-index: 500; }

        .cruz { z-index: 4; }

        .redes { z-index: 5; }

        .logo-pc{
            z-index: 2;
            width: 100%;
        }
    
        .rutas{
            width: 100%;
            padding-top: 4vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: $margen-vertical-mv;
            flex-grow: 2;
    
            .nav-links{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                .logo-movil{
                    display: none;
                }

                .terminos-movil{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin-bottom: 30px;
                    margin-left: 60px;
                    font-weight: normal;
                    font-size: normal;
                    color: white;

                    h3 {
                        margin: 0;
                        display: flex;
                        flex-direction: row;
                    }
                }

                .inicio {
                    border-bottom: 4px solid #FEDC03;
                }
    
                li{
                    list-style: none;
    
                    a{
                        color: white;
                        text-decoration: none;
                        letter-spacing: 1px;
                        font-weight: bold;
                        text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
                        font-size: 15pt;
    
                        //-------- Esta Parte pertenece a la animación sobre el Menu // https://codepen.io/jstn/pen/zuDst
                        display: inline-block;
                        padding: 15px 20px;
                        position: relative;
                    }
    
                    a:after {    
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 3px;
                        left: 50%;
                        position: absolute;
                        background: #fff;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
                        width: 0;
                        }
                        a:hover:after { 
                            width: 100%; 
                            left: 0;
                        }
    
                        // ----------------- Fin de animación
                }
            }

            /* 
                Parte de selección 
            */

            .seleccion {
                li {
                    a {
                        color: $color-primario;
                        font-size: 27px;
                        text-shadow: none;                        
                    }
                    
                    a:after {
                        background: $color-primario;
                    }
                }
            }
        
            .redes-movil {
                display: flex;
            }  
        }
    
        .burger {
            display: none;
            cursor: pointer;
        }
    }
}





