$ordenador: "min-width: 729px" ;
$movil: "max-width: 728px";

$margen-vertical-mv: 50px;
$margen-peque-mv: 10px;
$margen-grande: 100px;
$color-primario: #2C2C2C;

body {
    font-family: "Century Gothic", sans-serif;
    //font-size: 27pt;
}