$ordenador: "min-width: 729px" ;
$lTablet: "max-width: 991px";
$mTablet: "max-width: 767px";
$movil: "max-width: 479px";

$margen-vertical-mv: 50px;
$margen-peque-mv: 10px;
$margen-grande: 100px;
$distancia_principio_mv: 158px;
$distancia_principio_pc: 200px;
$tamano_primer_cuadro_giro: 62%;

// COLORES
$color-primario: #2C2C2C;
$color-texto-secundario: rgb(179, 179, 179);
$color-borde : #707070;
$color-aux-boton: #ed2b8d;

body {
    font-family: "Century Gothic", sans-serif;
    //font-size: 27pt;
}

.sombra {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.70);
}

.sombra_texto {
    text-shadow: 0px 1px 20px rgb(0, 0, 0);
}

.puntero {
    cursor: pointer;
}